# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/
